<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <!-- Add your CSS links or stylesheets here -->
</head>

<body>
    <nav>
        <ul>
            <li><a href='#'>Home</a></li>
            <li><a href="{% url 'trade/dashboard' %}">Dashboard</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'trade/profile' %}">Profile</a></li>
            <li><a href="{% url 'trade/logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'trade/login' %}">Login</a></li>
            <li><a href="{% url 'trade/signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <!-- Add your JavaScript links or scripts here -->
</body>

</html>